[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
flask-jwt-extended = "*"
python-dotenv = "*"
requests = "*"
websocket-client = "*"
flask-cors = "*"
flask-swagger-ui = "*"
apscheduler = "*"
gunicorn = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.13"
